StockAnalyzerApp/Service References/StockWebServices/LicenseManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.ultimatechartist.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.ultimatechartist.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ultimatechartist.com/">
      <s:element name="GetLicense">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encryptedUserPassword" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="machineID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLicenseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLicenseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsRegisteredUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encryptedUserPassword" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsRegisteredUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsRegisteredUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLicenseSoapIn">
    <wsdl:part name="parameters" element="tns:GetLicense" />
  </wsdl:message>
  <wsdl:message name="GetLicenseSoapOut">
    <wsdl:part name="parameters" element="tns:GetLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="IsRegisteredUserSoapIn">
    <wsdl:part name="parameters" element="tns:IsRegisteredUser" />
  </wsdl:message>
  <wsdl:message name="IsRegisteredUserSoapOut">
    <wsdl:part name="parameters" element="tns:IsRegisteredUserResponse" />
  </wsdl:message>
  <wsdl:portType name="LicenseManagerSoap">
    <wsdl:operation name="GetLicense">
      <wsdl:input message="tns:GetLicenseSoapIn" />
      <wsdl:output message="tns:GetLicenseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsRegisteredUser">
      <wsdl:input message="tns:IsRegisteredUserSoapIn" />
      <wsdl:output message="tns:IsRegisteredUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LicenseManagerSoap" type="tns:LicenseManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLicense">
      <soap:operation soapAction="http://www.ultimatechartist.com/GetLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRegisteredUser">
      <soap:operation soapAction="http://www.ultimatechartist.com/IsRegisteredUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LicenseManagerSoap12" type="tns:LicenseManagerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLicense">
      <soap12:operation soapAction="http://www.ultimatechartist.com/GetLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRegisteredUser">
      <soap12:operation soapAction="http://www.ultimatechartist.com/IsRegisteredUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LicenseManager">
    <wsdl:port name="LicenseManagerSoap" binding="tns:LicenseManagerSoap">
      <soap:address location="http://localhost:2491/UltimateChartist_beta/LicenseManager.asmx" />
    </wsdl:port>
    <wsdl:port name="LicenseManagerSoap12" binding="tns:LicenseManagerSoap12">
      <soap12:address location="http://localhost:2491/UltimateChartist_beta/LicenseManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>